* {
    margin-top: 0;
}

* + * {
    margin-top: 1rem;
}

body {
    background: #ff9900;
    font-family: Helvetica, sans-serif;
}

.mottaker > * {
    display: none;
}

:target {
    display: block;
}
