body {
    background: whitesmoke;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    text-align: center;
}

* {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.2;
}

* + * {
    margin-top: 0.75rem;
}

li + li {
    margin-top: 0;
}


[id] {
    display: none;
}

:target {
    display: block;
}

header {
    margin-top: 0;
    background: orange;
    padding: 1rem 2rem;
}

header p:not(:last-child) {
    font-size: large;
    text-transform: uppercase;
}

header p:last-child {
    font-style: italic;
    margin-top: 0.3rem;
}

main {
    margin-top: 0;
    background: lime;
    flex-grow: 1;
    padding: 1rem 2rem;
}

h1 span:first-child {
    font-size: 4rem;
}

h1 span {
    display: block;
    margin-top: 0;
}

footer {
    margin-top: 0;
    background: pink;
}

footer {
    text-align: center;
    padding: 1rem 2rem;
}

footer p:first-child {
    text-transform: uppercase;
    font-size: large;
}

footer p:last-child {
    color: white;
    font-size: small;
    background: teal;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
